@import './../../Colors';

.selected {
  background-color: $blue_navy;
  color: $blue_frost_light;
}

.list {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  & > button {
    border-radius: 0.25em;
    padding: 0.375em 0.375em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: $blue_frost;
    background-color: $blue;
    border-color: $blue_navy;
    font-size: 1.25em;
    &:hover {
      @extend .selected;
    }
  }
}